# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
env/



# OS/editor files
.DS_Store
.vscode/
.idea/

# Generated results
Backend/results/reviews_resumidas.json
